/* Accordion header when expanded */
.accordion-button:not(.collapsed) {
  background-color: #2c3e50 !important;
  color: #ecf0f1 !important;          
  box-shadow: none !important;         
}

/* https://community.plotly.com/t/scrollable-dbc-table-with-max-height-and-sticky-header/62405/2 */
.table-wrapper {
  overflow: hidden auto;
  position: relative;
  max-height: 300px;
}

.table-wrapper > table > thead {
  position: sticky;
  top: 0;
}